<div class="app">
  <mat-toolbar
    color="primary"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <span>Yoga app</span>
    @if($isLogged() | async){
    <div>
      <a routerLink="sessions" class="link" data-cy="sessions">Sessions</a>
      <a routerLink="me" class="link" data-cy="me">Account</a>
      <a (click)="logout()" class="link" data-cy="logout">Logout</a>
    </div>
    }@else {
    <div>
      <a
        routerLink="/login"
        routerLinkActive="active"
        class="link"
        data-cy="login"
        >Login</a
      >
      <a
        routerLink="/register"
        routerLinkActive="active"
        class="link"
        data-cy="register"
        >Register</a
      >
    </div>

    }
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
